body {
  background-color: #ffffff;
}

.hidden {
  display:none;
}

.visible {
  display:block;
}

body.fell-english {
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
}

button {
  color: #000000;
}

input {
  color: #000000;
}

img {
  width: 100%;
}

div.text-background {
  background-color: #101010;
  max-width: 60%;
}

footer {
  padding-top: 50px;
}
