body {
  background-color: #ffffff;
}

.hidden {
  display:none;
}

.visible {
  display:block;
}

body.fell-english {
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
}

button {
  color: #000000;
  padding: 5px 10px 5px 10px;
  height:30px;
  position:relative;
}

.header {
  background-color: #52240D;
}

input {
  color: #000000;
}

div.text-background {
  background-color: #1f1f1f;
  max-width: 100%;
}

.button-div {
  float:right;
}

img {
  width: 60%;
  height: 60%;
  float:left;
  margin-right: 10px;
}

footer {
  padding-top: 50px;
}
