<!DOCTYPE html>
<html>
<head>
    {% if title %}
      <title>{{ title }} | GoT ft. Tyrion</title>
    {% else %}
      <title>GoT ft. Tyrion</title>
    {% endif %}
</head>
<!-- Below is how Python helps us pass content from page to page.   -->
<body>
    {% if header %}
      <h1>{{ header }}</h1>
    {% else %}
      <h1>Game of Thrones</h1>
    {% endif %}

    {% block content %}{% endblock %}

    <footer>
      This Game of Thrones Text Adventure is a free, open-source project started by Lee Ngo. Have fun with it!
    </footer>
    <!-- JavaScript global APIs -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.css') }}"></script>
</body>
</html>
