{% extends "base.html" %}
{% block content %}
<img src="https://uproxx.files.wordpress.com/2014/06/tyrion.gif" />
  <p>
    You are now dead. At least your debts have been paid in full. Great shame upon House Lannister. Honestly, it's quite surprising you made it this far. Somewhere in King's Landing, your cruel sister Cersei is laughing.
  </p>
  <button onclick="window.location='/intro'">Play Again</button>
  <button onclick="window.location='http://github.com/lee-ngo' target='_blank'" >I'm done. Who made this stupid game?</button>

{% endblock %}
