{% extends "base.html" %} <!-- Do not use spaces with Python in HTML after loops! -->
{% block content %}
    <p>Welcome to this Game of Thrones text adventure!</p>
    <img src="https://media.giphy.com/media/icYirD5xqMAYE/giphy.gif" />
    <p>In this game, you are TYRION LANNISTER, a man blessed with wealth and education, which mitigates your dwarfish appearance and overindulgent demeanor.</p>
    <p>When playing this game, your options are provided in buttons below. Select your choice to advance.</p>
    <div class="button-div">
      <button onclick="window.location='/winterfell'">Let's get started!</button>
    </div>
{% endblock %}
