{% extends "base.html" %}
{% block content %}

<div>
  <img src="http://66.media.tumblr.com/fc3a93b0b654df3076372e0d1248ac6f/tumblr_nqmjmnL2IQ1uytnu4o7_250.gif" />
    <p>
      You can't wait to get back to King's Landing after all that's happened to you. The sense of urgency is only furthered by Bronn's rambling about what he'll do with all the money he'll earned from you."
    </p>
    <p>
      Finally arriving at King's Landing, you realize the best way to repay your debt to Bronn: take him to Petyr Baelish's renouned brothel."
    </p>
    <button class="next-scene-click">Click here to continue...</button>
</div>
<div class="hidden">
    <img src="http://i.imgur.com/eWVMShy.gif" />
    <p>
      PETYR 'LITTLEFINGER' BAELISH greets you with open arms.
    </p>
    <p>
      Littlefinger: "Lord Tyrion. You bless us with your presence here. My little sparrows inform me you have had quite the adventure."
    </p>
    <p>
      You: "Indeed. The gods have been quite tempestuous. Probably not the most prudent move to come to a brothel, but, if I could pray with my cock, I'd be far more religious.""
    </p>
  <button class="next-scene-click">Click here to continue...</button>
</div>

<div class="hidden">
    <img src="https://66.media.tumblr.com/cd6a025bb6e6e303eb31cefdf8008414/tumblr_nmcs3r56fu1tlo6qno1_500.gif" />
    <p>
      You: "Anyway, Lord Petyr, I was hoping you could take care of"
      print "my good friend Bronn here. He was quite pivotal in my survival thus far, and I'd like to return him the favor."
    </p>
    <p>
      Bronn: "Now hang on just a minute. I was promised far more than a night in a brothel. Don't think that we'll be even by morning, little man."
    </p>
  <button class="next-scene-click">Click here to continue...</button>
</div>
<div class="hidden">
  <img src="https://usatthebiglead.files.wordpress.com/2012/04/smile.gif" />
  <p>
  Before Bronn could finish his objection, two beautiful women emerge from beyond a satin curtain and gently grab Bronn by each of his arms.
  </p>
  <p>
  Bronn: "Well, I suppose this is a decent start. Lead the way!"
  </p>
  <p>
  Bronn disappears with the women beyond the curtains.
  </p>
  <p>
  Littlefinger: "Lord Tyrion, I have some news for you."
  </p>
  <button class="next-scene-click">Click here to continue...</button>
</div>

<div class="hidden">
  <img src="http://66.media.tumblr.com/tumblr_llp2fh1j2j1qc9j6ho1_500.gif" />
    <p>
      Littlefinger: "As a member of the Small Council, I'm here to inform you that you have been invited to join us in our next meeting. I'm headed there right now, actually."
    </p>
    <p>
      Do you with to join Littlefinger at the SMALL COUNCIL meeting or stay here and RELAX?
    </p>
  <button onclick="window.location='/small_council'">Small Council</button>
  <button class="next-scene-click">Just Relax</button>
</div>

<div class="hidden">
  <img src="http://i.imgur.com/9ra8igj.gif" />  
    <p>
    Littlefinger: "As you wish, Lord Tyrion."
    </p>
    <p>
    Littlefinger leaves the room. You exhale, wondering if you should explore the harem a bit or take a well-deserved nap.
    </p>
    <p>
    Your eyes catch a bottle of Dornish wine with nothing more than the words 'Lannister' on its label. Not one to turn down an invitation, you pour yourself a respectable glass and take a drink.
    </p>
  <button class="next-scene-click">Click here to continue...</button>
</div>

<div class="hidden">
  <img src="http://www.winemag.com/wp-content/uploads/2015/12/tyrion1.gif" />
    <p>
      The wine goes down smoothly. Perhaps the best you've ever tasted in your life? Suddenly, you begin to choke. Your throat starts to close as blood trickles out of your nose.
    </p>
    <p>
      With your last ounces of strength, you peel the label back on the wine bottle, and a hidden message reads:
    </p>
    <p>
      "For Elia."
    </p>
  <button onclick="window.location='/death'">Click here to continue...</button>
</div>
{% endblock %}
