{% extends "base.html" %}
{% block content %}
<img src="https://media.giphy.com/media/sKOgxXbdm8Bb2/giphy.gif" />
<p>
  Ah, there's nothing quite like a brothel! While not up to the standards of a Petyr 'Littlefinger' Baelish establishment, the charm of the Northern women is enough to thaw the frost you've been feeling since you've arrived.
</p>
<p>
The madam of the establishment, ROS, walks out in a flowing robe that leaves very little to the imagination. She claps her hands and a row of young maidens walks into the main room, one more beautiful than the last.
</p>
<p>
Ros: "Lord Tyrion, welcome! Which of these fine ladies do you choose?"
</p>
<p>
Do you select ROS or a RANDOM woman?
</p>
{% endblock %}
