{% extends "base.html" %}
{% block content %}
<div>
  <img src="https://66.media.tumblr.com/f521e965b1a02e95dd6308637edac160/tumblr_n5ithc1seW1qc7rq0o2_r1_400.gif" />
    <p>
      Congratulations! You have now been named Hand of the King. An era of prosperity washes over all of Westeros, thanks to your intelligence and wisdom.
    </p>
    <p>
      This golden age only lasts for about seven or eight years, however, when either a zombie horde from beyond The Wall or a fellow golden-headed tyrant with three dragons invades your lands, leaving you as pathetic pawns in a much more epic battle of fire and ice.
    </p>
  <div class="button-div">
    <button onclick="window.location='/intro'">Play Again</button>
    <a href="https://github.com/lee-ngo" target="_blank"><button>I'm done. Who made this stupid game?</button></a>
  </div>
</div>

{% endblock %}
