{% extends "base.html" %}
{% block content %}
<div>
  <img src="http://31.media.tumblr.com/528c424f6dc7af733cb4d3c9223d46c0/tumblr_n3w6pra0eL1qzxbu6o1_500.gif" />
  <p>As you are about to leave, BRONN approaches you. Bronn is a sellsword with excellent combat skills, and he's not at all adverse to taking Lannister coin.
  </p>
  <p>
  Bronn: "Forgive me, Lord Tyrion, but you've been summoned back to King's Landing. I'll personally escort you."
  </p>
  <p>
  You: "Very well. Apparently, 'winter is coming' anyway. Might as well get a head start.
  </p>
  <button type="button" class="next-scene-click">Click to continue...</button>
</div>
<div class="hidden">
  <img src="https://i.ytimg.com/vi/p2Ij-_jZ_8w/maxresdefault.jpg" />
  <p>
    A few days later, you and Bronn decided to stop in a tavern on the road back to King's Landing. As you enter, the predominantly Northern clientele sneer at your Southern demeanor and blonde hair.
  </p>
  <button class="next-scene-click">Click to continue...</button>
</div>
<div class="hidden">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/7b/91/8c/7b918ced014af8009198e1bef1a653e9.jpg" />
  <p>
    Not long after you, CATELYN STARK enters the tavern. A rare sight to see such a familiar noblewoman in an establishment such as this. She immediately locks eyes on you as you and Bronn have already found a place to sit.
  </p>
  <button class="next-scene-click">Click to continue...</button>
</div>
<div class="hidden">
  <img src="http://images4.fanpop.com/image/photos/22800000/Catelyn-catelyn-tully-stark-22809921-500-204.gif" />
  <p>
    Cat: "YOU. I have searched every tavern and brothel within 100 miles of Winterfell for you."
  </p>
  <p>
    You: "Good day, Lady Catelyn. It seems you have an educated approach to tracking me down. How may I help you?"
  </p>
  <button class="next-scene-click">Click to continue...</button>
</div>
<div class="hidden">
  <img src="http://lovelace-media.imgix.net/uploads/915/8d53d6b0-d8a8-0132-bfd7-0a13eebe068d.gif" />
  <p>
    Your noble pleasantries are not matched. Cat begins to wander the room, eyeing the other Northerners with sheathed swords.
  </p>
  <p>
    Cat: "Warriors of the North. Descendants of the First Men. You have all served under the banner of Stark for centuries with honor and dignity, have you not?"
  </p>
  <p>
    The armed men cheer and pound their tankards in solidarity. You feel a sudden perspiration collect on your brow.
  </p>
  <button class="next-scene-click">Click to continue...</button>
</div>
<div class="hidden">
  <img src="http://24.media.tumblr.com/tumblr_lm46ef5nMG1qhl6oao1_500.gif" />
  <p>
    Cat: (pointing at you) "This man has conspired against House Stark! To kill my son! Bannermen, arrest Tyrion Lannister!"
  </p>
  <p>
    Do you YIELD to the arrest or summon Bronn to FIGHT back?
  </p>
  <button class="next-scene-click">Summon Bronn</button>
  <button onclick="window.location='/the_vale'">Yield</button>
</div>
<div class="hidden">
  <img src="http://www.scifibloggers.com/wp-content/uploads/504a1b621f26c0cbbc4e4c63f7454743.gif" />
  <p>
    Bronn looks back at you. "You're on your own, little man."
  </p>
  <p>
    Bronn leaps out of one of the windows and rides away. In an act of desperation, you lunge at Cat Stark, but your feeble attempt to take her hostage is thwarted by dozens of Northern-forged steel backed by the fury of the old gods. You fail to make it out of the tavern alive.
  </p>
  <button onclick="window.location='/death'">Click to continue...</button>
</div>
{% endblock %}
