{% extends "base.html" %}
{% block content %}

<div>
  <p>
    You put up no resistance as the Northerners converge upon you."
  </p>
  <p>
    In a few days, you reach The Vale, one of the most formidable and beautiful castles in all of the Seven Kingdoms. Your hands are bound by rope as you are tugged along by Catelyn Stark. Not too far back is Bronn, who is also tied at the wrists but not particularly worried about his present situation.
  </p>
  <button class="next-scene-click">Click to continue...</button>
</div>

{% endblock %}
